section {
    .wrapper {
        .line {
            display: none;
        }
        background-color: $veryDarkViolet;
        background-color: hsl(270, 9%, 17%);
        .pattern-desktop {
            display: none;
        }
        .hero-sub_wrapper {
            max-width: 1440px;
            margin: auto;
            display: flex;
            flex-direction: column-reverse;
            .hero-content {
                position: relative;
                padding-top: 5.3em;
                padding-bottom: 5.3em;
                color: white;
                text-align: center;
                z-index: 1;
                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: url("../../images/bg-pattern-intro-left-mobile.svg");
                    width: 100%;
                    height: 100%;
                    background-repeat: no-repeat;
                    z-index: -1;
                }
                .intro-right_mobile-image {
                    position: absolute;
                    bottom: -40%;
                    right: 0;
                    img {
                        width: 100%;
                        height: 100%;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }
                }
            }
            h2 {
                line-height: 3rem;
                font-size: 2.1rem;
            }
            p {
                margin-top: 1.4em;
                margin-bottom: 2em;
                font-size: 1.1rem;
                line-height: 2.1rem;
                font-weight: 300;
                padding: 0 1em;
            }
        }
        .hero-image {
            z-index: 5;
            height: 450px;
            img {
                width: 100%;
                height: 100%;
                background-size: cover;
            }
        }
    }
}

// media queries
@media (min-width: 425px) {
    section {
        .wrapper {
            .hero-sub_wrapper {
                .hero-content {
                    h2 {
                        font-size: 2.6rem;
                    }
                }
            }
        }
    }
}
@media (min-width: 625px) {
    section {
        .wrapper {
            .hero-sub_wrapper {
              
                .hero-content {
                    h2 {
                        font-size: 2.8rem;
                    }
                    p {
                        padding: 0 3em;
                    }
                }
                .hero-image {
                    display: none;
                }
            }
        }
    }
}

@media(min-width: 1024px) {
    section {
        .wrapper {
            .hero-sub_wrapper {
                .hero-content {
                    h2 {
                        font-size: 3.4rem;
                    }
                    .intro-right_mobile-image {
                        width: 200px;
                        height: 406px;
                    }
                }
            }
        }
    }
}

@media (min-width: 1440px) {
    section {
        .wrapper {
            .line {
                display: flex;
            }
            position: relative;
            height: 600px;
          .hero-sub_wrapper {
            padding: 0 4em;
             .hero-content {
                 position: relative;
               
                h2 {
                    line-height: 5.2rem;
                    font-size: 5rem;
                }
               
             }
          }
            .pattern-desktop {
                display: block;
                position: absolute;
            
            }
            .pattern-left {
                bottom: -70%;
                left: 0;
                width: 190px;
                height: 500px;
                img {
                    width: 100%;
                    height: 100%;
                    background-size: cover;
                }
            }

            .pattern-right {
                right: 0;
                top: 0;
                z-index: 10;
                width: 400px;
                height: 470px;
                // background-color: red;
                img {
                    width: 100%;
                    height: 100%;
                    background-size: cover;
                    background-position: center;
                }
            }
            .hero-sub_wrapper {
                flex-direction: row;
                height: 100%;
                .hero-content,
                .hero-image {
                    width: 50%;
                }
                .hero-content {
                    transform: translate(0, 49px);
                   
                    .h-content {
                        margin: 0;
                    }
                    padding: 0;
                    text-align: left;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    p {
                        padding: 0 2em 0 0;
                    }
                    img {
                        display: none;
                    }
                    &::before {
                        display: none;
                    }
                }
                .hero-image {
                    display: block;
                    position: relative;
                    width: 50%;
                    height: auto;
                    img {
                        padding: 0 9em 0 0;
                        position: absolute;
                        bottom: -130px;
                    }
                }
            }
        }
    }
}
