@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap');// primary colors
$darkViolet : hsl(256, 26%, 20%) ;
$grayishBlue : hsl(216, 30%, 68%) ;
// Neutral colors
$veryDarkViolet : hsl(270,9%,17%) ;
$darkGrayishViolet : hsl(273, 4%, 51%) ;
$veryLightGray : hsl(0,0%, 98%) ;
$serifFont : 'DM Serif Display', serif;
$karlaFont : 'Karla', sans-serif;